footer.footer
    img.footer-decor.footer-decor-left(src="/images/footer-shape1.png" alt="Decor left")
    img.footer-decor.footer-decor-right(src="/images/footer-shape2.png" alt="Decor right")

    .footer-container
        // CỘT 1: Logo + mô tả + Social
        .footer-column.footer-brand
            .inner-logo
                    a(href="/")
                        img(src="/images/logo.svg", alt="Logo")
            p.footer-desc Cung cấp các sản phẩm healthy và organic tốt cho sức khỏe người tiêu dùng.
            .footer-social
                a(href="#", aria-label="YouTube")
                    i.fa-brands.fa-youtube
                a(href="#", aria-label="Facebook")
                    i.fa-brands.fa-facebook-f
                a(href="#", aria-label="Instagram")
                    i.fa-brands.fa-instagram
                a(href="#", aria-label="TikTok")
                    i.fa-brands.fa-tiktok

        // CỘT 2: Verdish
        .footer-column
            h3.footer-title Về chúng tôi
            ul.footer-links
                li: a(href="#") Giới thiệu
                li: a(href="#") Sản phẩm
                li: a(href="#") Tin tức
                li: a(href="#") Dịch vụ
                li: a(href="#") Liên hệ
                li: a(href="#") Hỗ trợ
                li: a(href="#") Chăm sóc khách hàng

        // CỘT 3: Điều khoản sử dụng
        .footer-column
            h3.footer-title Điều khoản sử dụng
            ul.footer-links.footer-links--policy
                li: a(href="#") Chính sách bảo mật
                li: a(href="#") Chính sách vận chuyển
                li: a(href="#") Chính sách và quy định chung
                li: a(href="#") Mua hàng và thanh toán
                li: a(href="#") Thông tin về chủ sở hữu website
                li: a(href="#") Thông tin về điều kiện giao dịch chung
                li: a(href="#") Thông tin về vận chuyển và giao nhận
                li: a(href="#") Thông tin về các phương thức thanh toán

        // CỘT 4: Thông tin
        .footer-column
            h3.footer-title Thông tin
            ul.footer-links
                li: a(href="#") Dịch vụ
                li: a(href="#") Chăm sóc khách hàng
                li: a(href="#") Liên hệ
                li: a(href="#") Hỗ trợ

        // CỘT 5: Đăng ký email
        .footer-column.footer-newsletter
            h3.footer-title Đăng ký nhận thông báo
            p.footer-desc Nhập email để nhận tin mới nhất từ chúng tôi.
            form.footer-form(action="#" method="post")
                input.footer-input(type="email" placeholder="Nhập email của bạn")
                button.footer-btn(type="submit") Đăng ký ngay

    .footer-bottom
        p © 2025 thevvq. All rights reserved.
