/* Header */
.header {
    background: #202020;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 999;
}

.header .inner-logo a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: #fff
}

/* End header */

/* Body */
.body .sider {
    width: 200px;
    background: #323232;
    color: #fff;
    height: calc(100vh - 56px);
    position: fixed;
    top: 56px;
    left: 0;
}

.body .main {
    margin: 15px;
    position: relative;
    left: 200px;
    width: calc(100% - 230px);
}

/* End body */

/* Sider */
.sider .inner-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sider .inner-menu ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 6px 10px;
    border-bottom: 1px solid #515151;
}

/* End Sider */

/* Show alert */
[show-alert] {
    position: fixed;
    top: 20px;
    right: 20px;
    min-width: 280px;
    padding: 12px 18px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    animation: alert-show 0.4s ease forwards;
    z-index: 1050;
    display: flex;
    align-items: center;
    gap: 10px;
}

[show-alert].alert-success {
    border-left: 6px solid #198754;
}

[show-alert].alert-danger {
    border-left: 6px solid #dc3545;
}

[show-alert] span[close-alert] {
    margin-left: auto;
    cursor: pointer;
    font-weight: bold;
    opacity: 0.7;
    transition: 0.2s;
}

[show-alert] span[close-alert]:hover {
    opacity: 1;
}

@keyframes alert-show {
    from {
        opacity: 0;
        transform: translateX(50px) scale(0.95);
    }

    to {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

.alert-hide {
    animation: alert-hide 0.4s forwards ease;
}

@keyframes alert-hide {
    from {
        opacity: 1;
        transform: translateX(0) scale(1);
    }

    to {
        opacity: 0;
        transform: translateX(50px) scale(0.95);
    }
}

/* End Show alert */

/* Wrapper Image */
.image-preview-wrapper {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

[upload-image-preview] {
    max-width: 200px;
    display: none;
    border-radius: 6px;
}

[upload-image-remove] {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 24px;
    height: 24px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: none;
    font-size: 14px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: normal;
    text-align: initial;
}

[upload-image-remove]:hover {
    background-color: #f5f5f5;
    border-color: #999;
}

/* End Wrapper Image */