mixin select-tree(records, prefix = "")
    each item in records
        option(value=item.id) #{prefix + item.title}
        if item.children && item.children.length
            +select-tree(item.children, prefix + "-- ")
