extends ../../layouts/default

block main
    link(rel="stylesheet", href="/css/forgot-password.css")

    .auth-container
        .auth-box
            h2.title Lấy lại mật khẩu

            p.description
                | Nhập email đã đăng ký. Chúng tôi sẽ gửi cho bạn
                |  một mã xác thực (OTP) để đặt lại mật khẩu.

            form(method="POST" action="/password/forgot")
                .form-group
                    label Email
                    input(
                        type="email",
                        name="email",
                        placeholder="Nhập email của bạn...",
                        required
                    )

                button(type="submit") Gửi mã xác nhận

block scripts
    script(src="/js/forgot-password.js")
