extends ../../layouts/default

block main
    .container.mt-5
        h2.mb-4 Đăng ký tài khoản

        if error
            p.text-danger #{error}

        form(method="POST", action="/register")
            .mb-3
                label.form-label Họ và tên
                input.form-control(type="text", name="fullName", required)

            .mb-3
                label.form-label Email
                input.form-control(type="email", name="email", required)

            .mb-3
                label.form-label Mật khẩu
                input.form-control(type="password", name="password", required)

            button.btn.btn-primary(type="submit") Đăng ký
            .mt-3
    span Đã có tài khoản?
    a(href="/login")  Đăng nhập

