extends ../../layouts/default

block main
    .container.mt-4
        h2 Sửa bài viết

        form(method="POST", action=`/admin/blog/edit/${blog._id}`)
            .mb-3
                label Tiêu đề
                input.form-control(type="text", name="title", value=blog.title, required)

            .mb-3
                label Ảnh thumbnails
                input.form-control(type="text", name="thumbnail", value=blog.thumbnail)

            .mb-3
                label Nội dung
                textarea.form-control(name="content", rows="8") #{blog.content}

            button.btn.btn-success(type="submit") Cập nhật
            a.btn.btn-secondary.ms-2(href="/admin/blog") Hủy
